[submodule "qtbase"]
	path = qtbase
	url = https://github.com/SanyaNya/qt6base_win7
	branch = 6.4.1
[submodule "qthttpserver"]
	path = qthttpserver
	url = https://github.com/qt/qthttpserver
	branch = 6.4.1
[submodule "qtserialport"]
	path = qtserialport
	url = https://github.com/qt/qtserialport
	branch = 6.4.1
[submodule "qtwebsockets"]
	path = qtwebsockets
	url = https://github.com/qt/qtwebsockets
	branch = 6.4.1
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = https://github.com/qt/qtdeclarative
	branch = 6.4.1
[submodule "qtimageformats"]
	path = qtimageformats
	url = https://github.com/qt/qtimageformats
	branch = 6.4.1
[submodule "qtshadertools"]
	path = qtshadertools
	url = https://github.com/qt/qtshadertools
	branch = 6.4.1
[submodule "qtsvg"]
	path = qtsvg
	url = https://github.com/qt/qtsvg
	branch = 6.4.1
[submodule "qtlanguageserver"]
	path = qtlanguageserver
	url = https://github.com/qt/qtlanguageserver
	branch = 6.4.1
[submodule "qt5compat"]
	path = qt5compat
	url = https://github.com/qt/qt5compat
